.App {
  --primary-color: #a096edff;
  --secondary-color: #212121ff;
  --secondary-light-color: #2b2b2bff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: white;
  box-sizing:border-box;
}

.container {
  background-color: var(--secondary-color);
  padding: 25px;
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-light-color);
}

.text-white {
  color: white;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}


/*  */


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.minheight-100 {
  min-height: 100vh !important;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.heading-1 {
  font-size: 25px !important;
  font-weight: 500;
}

.heading-2 {
  font-size: 21px !important;
  font-weight: 500;
}

.heading-3 {
  font-size: 20px !important;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.gap-5 {
  gap: 30px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.position-relative {
  position: relative;
}

.recharts-wrapper>svg>g {
  outline: none !important;
}

.gradient-container {
  background-color: #454545ff;
  border: 1px solid #7b7777;
  box-shadow: 0px 2px 24px 0px #0000001A;
  padding: 16px;
  border-radius: 16px;

}

.gradient-container-2 {
  background-color: #454545ff;
  border: 1px solid #7b7777;
  box-shadow: 0px 2px 24px 0px #0000001A;
  padding: 12px 20px;
  border-radius: 16px;

}

.font-15 {
  font-size: 15px !important;
}

.font-500 {
  font-weight: 500;
}

.br-8px {
  border-radius: 8px !important;
}